body{
    background-color: #789ACE;
}

.container{
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 8px 8px 25px #546b94;
    display: flex;
    font-family: sans-serif;
    justify-content: center;
    color: #4B66D1;
        margin: auto;
    position: absolute;
    top: 16%;
    left: 10%;
    right: 10%;
}

.container-1{
    margin: 3%;
    margin-left: 2%;
    text-align: center;
    padding: 2%;
    
}

.image{
    margin-bottom: 50px;
    height: 90px;
}

.head{
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 5px;   
}
.text{
    font-weight: 600;
    color: #AAB3B7;
    font-size: 15px;
    line-height: 22px;
}
.container-1:hover{
    background-color: #F6F6F6;

}
.currency{
    position: absolute;
    font-weight: bold;
}
.price{
    font-size: 36px;
    font-weight: 600;
    position: relative;
    left: 8px;
    top: 10px;
}
.period{
    font-weight: 600;
    position: relative;
    left: 8px;
    top: 10px;
    font-size: 15px;
}


span{
    margin-top: 14px;
    
}

#mobile-container{
    margin-bottom: 60px;
}
#mobile-image{
margin-bottom:50px;
height: 85px;
}
